// Place all the styles related to the kanbans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-column {
  min-height: 800px;
  z-index: 10;
}

.issue-panel {
  position: relative;
  z-index: 50;
}

.issue-panel a{
  color: #7e5b68;
}

.issue-panel .issue-panel__header{
  cursor: move;
}

.issue-panel .issue-panel__assignee{
  position: absolute;
  top:      0px;
  right:    0px;
}

.issue-panel .issue-panel__note{
  float: right;
}

.issue-panel .issue-panel__labels span.label{
  margin: 1px;
}
