// Place all the styles related to the kanbans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-issues {
  min-height: 800px;
  z-index: 10;
}

.issue-panel {
  position: relative;
  z-index: 50;
}

.issue-panel .assignee{
  position: absolute;
  top:      0px;
  right:    0px;
}

.issue-panel .note{
  float: right;
}
